---
import SiteLayout from '@layouts/SiteLayout.astro';
const title = `Home (NGS Starter Guide) | Mille's Corner`;
const description = 'Basic leveling and progression walkthrough for PSO2:NGS.';

const posts = await Astro.glob('./*.mdx'); // returns an array of posts that live at ./src/pages/post/*.md
---

<SiteLayout title={title} opengraph={{ description }}>
  <div class="prose mx-auto pt-8 pb-16 px-4">
    <h1 class="text-center">NGS Starter Guide <i>(WIP)</i></h1>
    <p>
      this is a collection of pages that goes over basic leveling practices and
      gives you some basic tips for the early levels.
    </p>
    <p>
      website adaption of <a href="/starterguide"
        >new user onboarding/starter guide sheet</a
      >
    </p>
    <hr />
    <div class="not-prose">
      <ul class="grid gap-4">
        {
          posts.map(e => (
            <li>
              <a
                class="card card-compact bg-neutral text-neutral-content hover:cursor-pointer hover:bg-neutral-focus"
                href={e.url}
              >
                <div class="card-body">
                  <h1 class="card-title">{e.frontmatter.title}</h1>
                  <p class="">{e.frontmatter.description}</p>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</SiteLayout>
